@using Newtonsoft.Json
@model AppService.Users.UserLoggedinInputDto
@{
    ViewData["Title"] = "SignIn";
    Layout = null;
    var returnUrl = Context.Request.Query["returnurl"];
}

<!DOCTYPE html>
<html lang="en" dir="ltr" data-scompiler-id="0">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="format-detection" content="telephone=no" />
    <title>Stroyka Admin - eCommerce Dashboard Template</title>
    <!-- icon -->
    <link rel="icon" type="image/png" href="~/images/favicon.png" />
    <!-- fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i" />
    <!-- css -->
    <link href="~/css/bootstrap.ltr.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/vendor/highlight.js/styles/github.css" />
    <link rel="stylesheet" href="~/vendor/simplebar/simplebar.min.css" />
    <link rel="stylesheet" href="~/vendor/quill/quill.snow.css" />
    <link rel="stylesheet" href="~/vendor/air-datepicker/css/datepicker.min.css" />
    <link rel="stylesheet" href="~/vendor/select2/css/select2.min.css" />
    <link rel="stylesheet" href="~/vendor/datatables/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="~/vendor/nouislider/nouislider.min.css" />
    <link rel="stylesheet" href="~/vendor/fullcalendar/main.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <div class="min-h-100 p-0 p-sm-6 d-flex align-items-stretch">
        <div class="card w-25x flex-grow-1 flex-sm-grow-0 m-sm-auto">
            <div class="card-body p-sm-5 m-sm-3 flex-grow-0">
                <form asp-controller="Account" asp-action="SignIn" asp-route-returnurl="@returnUrl" method="POST">
                    <h1 class="mb-0 fs-3">Sign In</h1>
                    <div class="fs-exact-14 text-muted mt-2 pt-1 mb-5 pb-2">Log in to your account to continue.</div>
                    <div class="mb-4">
                        <label class="form-label">Email Address</label>
                        <input asp-for="EmailAddress" type="email" class="form-control form-control-lg" />
                    </div>
                    <div class="mb-4">
                        <label class="form-label">Password</label>
                        <input asp-for="Password" type="password" class="form-control form-control-lg" />
                    </div>
                    <div class="mb-4 row py-2 flex-wrap">
                        <div class="col-auto me-auto">
                            <label class="form-check mb-0">
                                <input asp-for="IsPersistent" type="checkbox" class="form-check-input" value="true" id="checkbox-signin" checked>
                                <input asp-for="IsPersistent" type="hidden" class="form-check-input" value="false" id="checkbox-signin">
                                <span class="form-check-label">Remember me</span>
                            </label>
                        </div>
                        <div class="col-auto d-flex align-items-center"><a href="auth-forgot-password.html">Forgot password?</a></div>
                    </div>
                    <div><button type="submit" class="btn btn-primary btn-lg w-100">Sign In</button></div>
                </form>
            </div>
            <div class="sa-divider sa-divider--has-text"><div class="sa-divider__text">Or continue with</div></div>
            <div class="card-body p-sm-5 m-sm-3 flex-grow-0">
                <div class="form-group mb-0 mt-4 pt-2 text-center text-muted">
                    Don&#x27;t have an account?
                    <a href="auth-sign-up.html">Sign up</a>
                </div>
            </div>
        </div>
    </div>
    <!-- scripts -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/feather-icons/feather.min.js"></script>
    <script src="~/vendor/simplebar/simplebar.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/highlight.js/highlight.pack.js"></script>
    <script src="~/vendor/quill/quill.min.js"></script>
    <script src="~/vendor/air-datepicker/js/datepicker.min.js"></script>
    <script src="~/vendor/air-datepicker/js/i18n/datepicker.en.js"></script>
    <script src="~/vendor/select2/js/select2.min.js"></script>
    <script src="~/vendor/fontawesome/js/all.min.js" data-auto-replace-svg="" async=""></script>
    <script src="~/vendor/chart.js/chart.min.js"></script>
    <script src="~/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/vendor/nouislider/nouislider.min.js"></script>
    <script src="~/vendor/fullcalendar/main.min.js"></script>
    <script src="~/js/stroyka.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/calendar.js"></script>
    <script src="~/js/demo.js"></script>
    <script src="~/js/demo-chart-js.js"></script>
</body>
</html>
